@charset "UTF-8";

#container{
    width: 500px;
    height: 650px;
    background-color: bisque;
    border: 3px solid black;
}
h1{
    margin: auto;
    text-align: center;
}
h3{
    text-align: center;
}
.imagem{
    margin-left: 170px;
}
p{
    text-align: justify;
    padding: 10px;
}
ul{
    text-align: justify;
    
}